<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/media.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="icon" href="./imgs/Group 11.png" />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>SinsPolio</title>
</head>
<body>
    <div class="container">
        <div class="inner pt50">
            <div id="show" class="service_top pt150">
                <div class="wrap">
                    <div class="rolling-list">
                        <ul>
                            <li>
                                <div class="image-wrap"><img style="height: 200px;" src="../imgs/scrollevent.png" alt="roller-img"/></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub_title">
                    <h2 class="enfont">
                        <a href="https://play.google.com/store/search?q=180project&c=apps&hl=ko-KR" target="_blank">
                            <span>180PROJECT</span> 
                        </a>
                    </h2>
                </div>
                <div class="enfont service_topsub">
                    <span>PLATFORM</span>
                </div>
                <div class="service_headline_sub">
                    <div class="inner">
                        <p>
                            생분해 가속화 촉진제가 적용된 원단과 이를 통해 상품을 제작할 수 있는 플랫폼을 개발 <br>
                            당사 플랫폼을 통해 “생분해”라는 것을 알리고, 시장의 일반 친환경소재보다 저렴한 가격으로 고객들에게 제공하는 것이 목표입니다.<br>
                            주문에 필요한 모든 요소를 데이터화하여 견적 신청이 5분 안에 가능하게 하여 편의성 높였습니다.<br>
                            지속 가능한 삶의 방식을 제안하며 환경과 사회적 책임을 다하는 차별화 전략으로 고객들의 삶 속에 녹아들겠습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider pt30 pb30">
                <div>
                    <img src="../imgs/180_1.png" alt="">
                </div>
                <div>
                    <img src="../imgs/180_2.png" alt="">
                </div>
                <div>
                    <img src="../imgs/180_3.png" alt="">
                </div>
                <div>
                    <img src="../imgs/180_4.png" alt="">
                </div>
                <div>
                    <img src="../imgs/180_5.png" alt="">
                </div>
                <div>
                    <img src="../imgs/180_6.png" alt="">
                </div>
            </div>
            <div class="scroll-spy headline_sub show">
                <div class="inner flex_text pt150">
                    <h2>
                        USED STACK
                    </h2>
                    <div class="flex_stack">
                        <div class="stack-box">
                            <img src="../imgs/react.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/tailwind.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/java.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/spring.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/mysql.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="inner flex_text pt100 pb30">
                    <h2>
                        ISSUES<br>
                        AND<br>
                        DEVELOPMENTS
                    </h2>
                    <div class="flex_p">
                        <ul>
                            <li>반응형 퍼블리싱</li>
                            <li>Axios를 서버 통신 및 데이터 관리</li>
                            <li>redux를 이용한 전역 상태관리</li>
                            <li>애니메이션 효과 구현</li>
                            <li>소셜로그인 구현</li>
                            <li>결제 모듈 구현</li>
                            <li>디자인 맞춤 커스텀 기능 구현</li>
                        </ul>
                    </div>
                    <div class="project-desc pt30">
                        <p class="auto">
                            친환경 생분해 성분으로 의류를 사용자가 직접 커스텀해 제작할 수 있는 맞춤 제작 플랫폼입니다. <br/>
                            이 프로젝트는 react와 tailwind로 퍼블리싱 및 프런트 개발을 진행하였으며 java spring MYSQL로 서버 및 데이터베이스를 구축했습니다.
                        </p>
                        <p class="auto">
                            이 플랫폼의 핵심 기능인 커스텀 기능을 구현하기 위해 많은 고민을 했습니다. 사용자가 원하는 재질, 사이즈, 수량, 라벨, 봉제 방식, 색상 등의 많은 정보를 효과적으로 서버와 소통하며<br/>
                            사용자가 선택한 값에 상응하는 하위 데이터값 들을 다시 사용자에게 응답하기 위해 어떻게 해야 데이터 유실 없이 서버와 소통할 방법에 대한 고민 끝에
                        </p>
                        <p class="auto">
                            서버에 임시 데이터 저장소를 만들어 사용자가 선택한 값을 서버에 전달하면 서버에서 그 하위 값을 반환하고 프런트에서는 사용자가 선택한 값을 <br/>
                            redux에 저장해 마지막에 서버에서 내려온 값을 redux에 있는 값과 대조해 일치하면 결제를 진행하는 방식으로 진행했습니다. <br/>
                        </p>
                        <p class="auto">
                            간단히 제작할 수 있는 부분이지만 관리자 페이지에서 사용자 선택 값에 하윗값들을 변경할 수 있게 하기 위해 이러한 방식을 채택했습니다. <br/>
                            이 외에도 커스텀이 아니더라도 클라이언트 사에서 직접 제작한 의류들을 둘러보고 구매할 수도 있으며
                        </p>
                        <p class="auto">
                            장바구니 등의 기능들이 있고 관리자 페이지 에서는 상품의 등록 주문 완료 및 배송처리 또 상품값들을 변경 및 추가 삭제가 가능하도록 제작되었습니다.  <br/>
                            또 사용자화면 native로 감싸서 플레이스토어, 앱스토어에 출시하였습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="home-btn pt150">
                <a class="btn" href="/">
                    HOME
                </a>
            </div>
        </div>
    </div>

    <script>
        let roller = document.querySelector('.rolling-list');
        roller.id = 'roller1'; // 아이디 부여

        let clone = roller.cloneNode(true)
        // cloneNode : 노드 복제. 기본값은 false. 자식 노드까지 복제를 원하면 true 사용

        clone.id = 'roller2';
        document.querySelector('.wrap').appendChild(clone); // wrap 하위 자식으로 부착

        document.querySelector('#roller1').style.left = '0px';
        document.querySelector('#roller2').style.left = document.querySelector('.rolling-list ul').offsetWidth + 'px';
        // offsetWidth : 요소의 크기 확인(margin을 제외한 padding값, border값까지 계산한 값)

        roller.classList.add('original');
        clone.classList.add('clone');

        $('.slider').slick({
            dots:true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 2000,

        });
    </script>
    <script src="../js/main.js"></script>
</body>