<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/media.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="icon" href="./imgs/Group 11.png" />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>SinsPolio</title>
</head>
<body>
    <div class="container">
        <div class="inner pt50">
            <div id="show" class="service_top pt150">
                <div class="wrap">
                    <div class="rolling-list">
                        <ul>
                            <li>
                                <div class="image-wrap"><img style="height: 200px;" src="../imgs/scrollevent.png" alt="roller-img"/></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub_title" id="btnWrap">
                    <h2 class="enfont">
                        <a href="https://keyupcorporation.com/keyops/world-video/davigo_v.mp4" target="_blank">
                            <span>DAVIGO</span> 
                        </a>
                    </h2>
                </div>
                <div class="enfont service_topsub">
                    <span>PLATFORM</span>
                </div>
                <div class="service_headline_sub">
                    <div class="inner">
                        <p>
                            기평물산은 신뢰와 도움을 바탕으로 건실한 비철·고철 전문기업이자 글로벌 물류 전문기업으로 도약하고자 합니다. <br>
                            환경을 보호하고 자원의 낭비를 막는다는 신념으로 전 임직원이 긍지와 자부심을 갖고 앞으로 나아가고 있습니다.<br>
                            급속하게 진화하고 있는 자원 시장에 발맞춰 그 무한한 가능성을 믿고 산업의 혁신을 이뤄내고자 합니다.<br>
                            고객에게 지속적인 양질의 서비스를 제공하는 것을 최우선 목표로 기대에 부응하겠습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider pt30 pb30">
                <div>
                    <img src="../imgs/davigo1.png" alt="">
                </div>
                <div>
                    <img src="../imgs/davigo2.png" alt="">
                </div>
                <div>
                    <img src="../imgs/davigo3.png" alt="">
                </div>
                <div>
                    <img src="../imgs/davigo4.png" alt="">
                </div>
            </div>
            <div class="scroll-spy headline_sub show">
                <div class="inner flex_text pt150">
                    <h2>
                        USED STACK
                    </h2>
                    <div class="flex_stack">
                        <div class="stack-box">
                            <img src="../imgs/html.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/css.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/js.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/node.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/mysql.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="inner flex_text pt100 pb30">
                    <h2>
                        ISSUES<br>
                        AND<br>
                        DEVELOPMENTS
                    </h2>
                    <div class="flex_p">
                        <ul>
                            <li>반응형 퍼블리싱</li>
                            <li>Axios를 서버 통신 및 데이터 관리</li>
                            <li>애니메이션 효과 구현</li>
                            <li>소셜로그인 구현</li>
                            <li>결제 모듈 구현</li>
                            <li>상품경매 기능 구현</li>
                            <li>카카오지도를 통한 주변 상품 및 운송기사 조회 기능</li>
                        </ul>
                    </div>
                    <div class="project-desc pt30">
                        <p class="auto">
                            경매를 통해 중고 고철을 사고팔 수 있고 상품을 탁송 운송을 할 수 있도록 기사가 등록해 활동을 할 수 있도록 제작된 고철 중고 거래 플랫폼 입니다. <br/>
                            로그인부터 구매자와 판매자 기업 로그인과 일반 로그인으로 나눠주고 기업회원만 경매등록이 가능토록 진행하였고
                        </p>
                        <p class="auto">
                            경매는 최신 경매 순으로 초기 리스트를 보여주고 구매자의 상황에 맞게 가격, 시간, 지역 등의 필터링을 해 경매를 진행할 수 있으며 <br/>
                            입찰을 하면 정해진 경매 기간 내에 실시간 입찰자를 입찰가 순으로 보여지게 해두었으며 모든 거래는 사용자 간의 안전을 위해 
                        </p>
                        <p class="auto">
                            캐시 충전 후 거래하는 방식으로 채택했으며 입찰이 완료되면 리뷰등록등의 기능을 만들어 두었우고 지도에 위치를 표시해 <br/> 
                            주변 업체 및 업체 정보 그리고 화물 운송 기사들과 위치를 사용자가 알아보기 쉽도록 보여지게 제작하였습니다.
                        </p>
                        <p class="auto">
                            마이페이지에서 사용자들이 정보를 관리하고 관리자 페이지에서 클라이언트 사에서 사용자 간의 거래와 문제를 해결할 수 있도록 제작해 두었습니다. <br/>
                            클라이언트 사 요청으로 node·JS를 이용해 ejs를 이용해 1차 프로토콜을 제작 중이며 react. JS를 이용해 백과 프론트를 분리해 <br/>
                            업데이트 예정입니다. (현재 react. JS, tailwind, react-query를 이용해 프론트 분리 작업을 동시에 진행 중입니다.)
                        </p>
                    </div>
                </div>
            </div>
            <div class="home-btn pt150">
                <a class="btn" href="/">
                    HOME
                </a>
            </div>
        </div>
    </div>

    <script>
        let roller = document.querySelector('.rolling-list');
        roller.id = 'roller1'; // 아이디 부여

        let clone = roller.cloneNode(true)
        // cloneNode : 노드 복제. 기본값은 false. 자식 노드까지 복제를 원하면 true 사용

        clone.id = 'roller2';
        document.querySelector('.wrap').appendChild(clone); // wrap 하위 자식으로 부착

        document.querySelector('#roller1').style.left = '0px';
        document.querySelector('#roller2').style.left = document.querySelector('.rolling-list ul').offsetWidth + 'px';
        // offsetWidth : 요소의 크기 확인(margin을 제외한 padding값, border값까지 계산한 값)

        roller.classList.add('original');
        clone.classList.add('clone');

        $('.slider').slick({
            dots:true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 2000,

        });
    </script>
    <script src="../js/main.js"></script>
</body>