<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/media.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="icon" href="./imgs/Group 11.png" />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>SinsPolio</title>
</head>
<body>
    <div class="container">
        <div class="inner pt50">
            <div id="show" class="service_top pt150">
                <div class="wrap">
                    <div class="rolling-list">
                        <ul>
                            <li>
                                <div class="image-wrap"><img style="height: 200px;" src="../imgs/scrollevent.png" alt="roller-img"/></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub_title">
                    <h2 class="enfont">
                        <a href="https://admin.gayou.kr/" target="_blank">
                            <span>GAYOU</span> 
                        </a>
                    </h2>
                </div>
                <div class="enfont service_topsub">
                    <span>PLATFORM</span>
                </div>
                <div class="service_headline_sub">
                    <div class="inner">
                        <p>
                            GAYOU는 배달대행, 물류, 세금 모든 내역을 한눈에 조회하고 한 곳에 관리 가능한 <br>
                            쉽고 빠른 Q커머스 플랫폼. 가유가 추구하는 라스트 마일과 함께하세요. <br>
                            아직도 구식 퀵 프로그램을 사용 중이신가요? 가유는 AI, 빅데이터 기반의 디지털 혁신으로<br>
                            모든 물류 큐레이션을 담은 빠르고 편한 프로그램을 제공합니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider pt30 pb30">
                <div>
                    <img src="../imgs/gayou1.png" alt="">
                </div>
                <div>
                    <img src="../imgs/gayou2.png" alt="">
                </div>
                <div>
                    <img src="../imgs/gayou3.png" alt="">
                </div>
                <div>
                    <img src="../imgs/gayou4.png" alt="">
                </div>
            </div>
            <div class="scroll-spy headline_sub show">
                <div class="inner flex_text pt150">
                    <h2>
                        USED STACK
                    </h2>
                    <div class="flex_stack">
                        <div class="stack-box">
                            <img src="../imgs/svelte.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/tailwind.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/node.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/java.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/oracle.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="inner flex_text pt100 pb30">
                    <h2>
                        ISSUES<br>
                        AND<br>
                        DEVELOPMENTS
                    </h2>
                    <div class="flex_p">
                        <ul>
                            <li>반응형 퍼블리싱</li>
                            <li>애니메이션 효과 구현</li>
                            <li>서버 통신 및 데이터 관리</li>
                            <li>atomic deign patten 구축</li>
                            <li>상태 관리 라이브러리 일부 구현</li>
                            <li>결제 프로세스 개선</li>
                        </ul>
                    </div>
                    <div class="project-desc pt30">
                        <p class="auto">
                            배달 대행 서비스 및 관제(admin), 상점프로그램(pos) 복잡하게 얽혀있는 대규모 프로젝트입니다.<br/>
                            프로젝트에 투입되어 복잡한 페이지 구성과 여기저기서 남발되는 store 등 으로 atomic deign patten을 도입해 복잡한 프로젝트에 재사용성과 직관적인 화면 설계를 가능하게 했습니다.    
                        </p>
                        <p class="auto">
                            기존 배달 대행 프로그램인 딜리온, 모아콜, 부릉 등 많은 배달 대행 업체와 프로그램이 있었지만, 그보다 더 나은 성능과 디자인을 위해 디자이너와 소통하며<br/>
                            사용자 화면과 사용자 경험에 방해되지 않는 선에서 다양한 모션 효과와 빠른 성능을 위해 개발을 진행했습니다.
                        </p>
                        <p class="auto">
                            Tailwind CSS를 처음 접해봤지만, 일주일도 안돼서 기존 CSS 라이브러리들 보다 익숙해질 정도로 개인적으로 아주 직관적이고 편리한 라이브러리였습니다.<br/>
                            개인적으로 반응형 처리나 유지보수 측면에서 아주 용이 하다고 생각하게 되었습니다.
                        </p>
                        <p class="auto">
                            배달 프로그램 특성상 초 단위로 정보가 바뀌기고 서버 쪽 데이터뿐만 아니라 클라이언트 단에서의 방대한 데이터의 상태를 해줘야 하기 때문에<br/>
                            관제 프로그램의(기존에 구축되어 있는 방식과 규칙을 적용하여) store를 구축하며 개발을 진행했습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="home-btn pt150">
                <a class="btn" href="/">
                    HOME
                </a>
            </div>
        </div>
    </div>

    <script>
        let roller = document.querySelector('.rolling-list');
        roller.id = 'roller1'; // 아이디 부여

        let clone = roller.cloneNode(true)
        // cloneNode : 노드 복제. 기본값은 false. 자식 노드까지 복제를 원하면 true 사용

        clone.id = 'roller2';
        document.querySelector('.wrap').appendChild(clone); // wrap 하위 자식으로 부착

        document.querySelector('#roller1').style.left = '0px';
        document.querySelector('#roller2').style.left = document.querySelector('.rolling-list ul').offsetWidth + 'px';
        // offsetWidth : 요소의 크기 확인(margin을 제외한 padding값, border값까지 계산한 값)

        roller.classList.add('original');
        clone.classList.add('clone');

        $('.slider').slick({
            dots:true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 2000,

        });
    </script>
    <script src="../js/main.js"></script>
</body>