<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/media.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="icon" href="./imgs/Group 11.png" />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>SinsPolio</title>
</head>
<body>
    <div class="container">
        <div class="inner pt50">
            <div id="show" class="service_top pt150">
                <div class="wrap">
                    <div class="rolling-list">
                        <ul>
                            <li>
                                <div class="image-wrap"><img style="height: 200px;" src="../imgs/scrollevent.png" alt="roller-img"/></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub_title">
                    <h2 class="enfont">
                        <a href="#" onclick="alert('내년 영화제를 위해 준비중 입니다!')">
                            <span>KEYOPS WORLD</span> 
                        </a>
                    </h2>
                </div>
                <div class="enfont service_topsub">
                    <span>PLATFORM</span>
                </div>
                <div class="service_headline_sub">
                    <div class="inner">
                        <p>
                            keyup은 기술을 통해 새로운 가치를 만들다 라는 슬로건을 바탕으로 다양한 웹&앱 프로젝트를 만들고 있는 회사입니다. <br>
                            keyup은 게임 및 증강 현실(AR) 경험과 같은 매력적이고 몰입감 있는 제품을 제작함으로써 최신 기술과 기법을 활용함으로써 <br>
                            keyup은 고객의 아이디어를 새롭고 혁신적인 방식으로 실현할 수 있으며 청중이 콘텐츠에 참여할 수 있는 독특하고 상호 작용적인 방법을 제공합니다. <br>
                            캐주얼 모바일 게임이든 복잡한 AR 설치물이든 keyup은 인터랙티브 프로젝트를 실현할 수 있는 기술과 전문성을 갖추고 있습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider pt30 pb30">
                <div>
                    <img src="../imgs/keyworld1.png" alt="">
                </div>
                <div>
                    <img src="../imgs/keyworld2.png" alt="">
                </div>
                <div>
                    <img src="../imgs/keyworld3.png" alt="">
                </div>
                <div>
                    <img src="../imgs/keyworld4.png" alt="">
                </div> 
                <div>
                    <img src="../imgs/keyworld5.png" alt="">
                </div> 
                <div>
                    <img src="../imgs/keyworld6.png" alt="">
                </div> 
                <div>
                    <img src="../imgs/keyworld8.png" alt="">
                </div> 
                <div>
                    <img src="../imgs/keyworld7.png" alt="">
                </div> 
                <div>
                    <img src="../imgs/keyworld9.png" alt="">
                </div> 
                <div>
                    <img src="../imgs/keyworld10.png" alt="">
                </div> 
            </div>
            <div class="scroll-spy headline_sub show">
                <div class="inner flex_text pt150">
                    <h2>
                        USED STACK
                    </h2>
                    <div class="flex_stack">
                        <div class="stack-box">
                            <img src="../imgs/html.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/css.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/js.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/react.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/tailwind.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/java.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/spring.png" alt="">
                        </div>
                        <div class="stack-box">
                            <img src="../imgs/mysql.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="inner flex_text pt100 pb30">
                    <h2>
                        ISSUES<br>
                        AND<br>
                        DEVELOPMENTS
                    </h2>
                    <div class="flex_p">
                        <ul>
                            <li>반응형 퍼블리싱</li>
                            <li>애니메이션 효과 구현</li>
                            <li>axios를 서버 통신 및 데이터 관리</li>
                            <li>redux 상태관리 라이브러리 구축</li>
                        </ul>
                    </div>
                    <div class="project-desc pt30">
                        <p class="auto">
                            부산국제영화제에 자사 프로그램 시연 시 관객 유치 및 주변 제휴 상가 홍보를 위한 미니게임 및 부루마블 게임입니다.
                        </p>
                        <p class="auto">
                            웹앱으로 제작해 모바일에 최적화된 사이즈고 제작 하였습니다. 메인 화면에서 로그인해서 미니게임과 부루마블로 분기를 나누고 각각의 플레이를 진행할 수 있도록 했으며<br/>
                            미니게임은 주사위 굴리기, 보물찾기, 룰렛 굴리기를 준비했으며 각각의 3개의 제휴업체에 금액별 쿠폰을 만들어 플레이 횟수, 플레이 후 시간제한 등을 두었습니다.
                        </p>
                        <p class="auto">
                            부루마블에서는 하루 8번에 횟수와 도착지에 도착하여 해당 영상을 끝까지 시청하면 쿠폰을 지급하는 방식으로 구현했습니다.<br/>
                            부르마블특성상 사용자의 도착 위치들과 주사위에서 나온 숫자들을 남은 횟수 등을 고려해 클라이언트단에서 일어나는 많은 데이터를 관리하기 위해 react를 사용하게 되었습니다.<br/>
                            미니게임은 HTML CSS JAVASCRIPT를 사용해 제작했으며 부루마블은 react를 사용해 제작했습니다. 서버와 디비는 java spring mysql을 이용해 구축했습니다.
                        </p>
                        <p class="auto">
                            현재는 내년에 있을 영화제를 대비해 전체적인 리팩토링을 통해 다양한 게임과 영상 더 많은 제휴 업체를 통해 사용자들에게 더욱 많은 호응을 이끌어내기 위해 준비 중 입니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="home-btn pt150">
                <a class="btn" href="/">
                    HOME
                </a>
            </div>
        </div>
    </div>

    <script>
        let roller = document.querySelector('.rolling-list');
        roller.id = 'roller1'; // 아이디 부여

        let clone = roller.cloneNode(true)
        // cloneNode : 노드 복제. 기본값은 false. 자식 노드까지 복제를 원하면 true 사용

        clone.id = 'roller2';
        document.querySelector('.wrap').appendChild(clone); // wrap 하위 자식으로 부착

        document.querySelector('#roller1').style.left = '0px';
        document.querySelector('#roller2').style.left = document.querySelector('.rolling-list ul').offsetWidth + 'px';
        // offsetWidth : 요소의 크기 확인(margin을 제외한 padding값, border값까지 계산한 값)

        roller.classList.add('original');
        clone.classList.add('clone');

        $('.slider').slick({
            dots:true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 2000,

        });
    </script>
    <script src="../js/main.js"></script>
</body>